#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 2em;
  padding: 1em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

main {
  margin: 2rem 0 2rem 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #646cff;
}

footer {
  margin: 2rem 0 2rem 0;
}
